{
  "Id": "179256925",
  "AccountId": "123207991",
  "WebPropertyId": "UA-123207991-1",
  "InternalWebPropertyId": "181452699",
  "Name": "All Web Site Data",
  "Currency": "USD",
  "Timezone": "Etc/GMT",
  "WebsiteUrl": "https://www.thedulwichestate.org.uk",
  "Type": "WEB",
  "Created": "2018-08-01T12:40:46.737+05:00",
  "Updated": "2018-08-01T12:40:46.737+05:00"
}